* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
