.footer {
  padding: 100px 48px;
  background-color: $secondary;
}

.footer-heading {
  color: $primary;
  font-weight: $fw-600;
}

.footer-body {
  font-size: $fs-sm;
  color: $grey-200;
}

.has-wave {
  position: relative;
  margin-top: 260px;

  &::before {
    content: url("../assets/svgs/footer-wave.svg");
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    left: -1px;
    right: 0;
    bottom: calc(100% - 4px);
  }
}
