.container {
  @include make-container();
}

.is-dark {
  color: $grey-200;
  background-color: $secondary;
}

@each $d-inline in $d-inlines {
  .d-inline-#{$d-inline} {
    display: inline-#{$d-inline};
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


// Margin / Padding
.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}