.navbar {
  @extend %flex-y-center;
  justify-content: space-between;
  background-color: $white;
  padding: 24px 48px;
  border-bottom: 1px solid $grey-50;
  z-index: 10;

  @include breakpoint(sm) {
    position: sticky;
    top: 0;
  }
}

.navbar-nav {
  @extend %flex-y-center;
  list-style: none;

  .active {
    > .nav-link {
      color: $primary;
    }
  }
}

.nav-item {
  font-size: $fs-base;
  margin: 0 $base-spc;
}

.nav-link {
  text-decoration: none;
  color: $grey;
  padding: 2px calc($base-spc + 2px);
  @include css3-prefix(transition, color 0.3s ease);

  &:hover {
    color: $primary;
  }
}
