$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

@mixin breakpoint($name) {
  // spelling check in breakpoints
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    // loop through the breakpoints for media query
    @each $label, $size in $breakpoints {
      @if $name == $label {
        @media (min-width: $size) {
          @content;
        }
      }
    }
  }
}
