// Vermilion (Primary)
$primary-20: #fbfaf6;
$primary-50: #fff6ec;
$primary-100: #ffebd3;
$primary-200: #ffd2a5;
$primary-300: #ffb26d;
$primary-400: #ff8632;
$primary-500: #ff630a;
$primary: #ff4900;
$primary-700: #cc3202;
$primary-800: #a1280b;
$primary-900: #82230c;
$primary-1000: #460e04;

$primary-shades: (
  "20": $primary-20,
  "50": $primary-50,
  "100": $primary-100,
  "200": $primary-200,
  "300": $primary-300,
  "400": $primary-400,
  "500": $primary-500,
  "600": $primary,
  "700": $primary-700,
  "800": $primary-800,
  "900": $primary-900,
);

@each $color, $value in $primary-shades {
  .text-primary-#{$color} {
    color: $value;
  }

  .bg-primary-#{$color} {
    background-color: $value;
  }
}

// Cinder (Secondary)
$secondary: #0f0e17;
$secondary-900: #302e4c;
$secondary-800: #353359;

// Grey
$grey-50: #f6f6f6;
$grey-100: #e7e7e7;
$grey-200: #d1d1d1;
$grey-300: #b0b0b0;
$grey: #808080;
$grey-500: #6d6d6d;
$grey-600: #5d5d5d;
$grey-700: #4f4f4f;
$grey-800: #454545;
$grey-900: #3d3d3d;

$grey-shades: (
  "50": $grey-50,
  "100": $grey-100,
  "200": $grey-200,
  "300": $grey-300,
  "400": $grey,
  "500": $grey-500,
  "600": $grey-600,
  "700": $grey-700,
  "800": $grey-800,
  "900": $grey-900,
);

@each $color, $value in $grey-shades {
  .text-grey-#{$color} {
    color: $value;
  }

  .bg-grey-#{$color} {
    background-color: $value;
  }
}

// Natural
$black: #000000;
$white: #ffffff;
$grey: $grey;

// Color State
$info: #2f80ed;
$warning: #e2b93b;
$success: #27ae60;
$danger: #eb5757;

$colors: (
  "primary": $primary,
  "black": $black,
  "white": $white,
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

$theme-colors: (
  "primary": $primary,
);

// Color
$cream: #fde58a;

.cream {
  color: $cream;
}

