// Compatibility
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// Line Clamp
@mixin line-clamp($line-count: 2, $box-orient: vertical) {
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: $box-orient;
  overflow: hidden;
}

// Source mixin
@mixin make-container() {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: calc($base-spc * 1.5);
  padding-right: calc($base-spc * 1.5);

  @include breakpoint(sm) {
    max-width: map-get($container-max-widths, sm);
  }

  @include breakpoint(md) {
    max-width: map-get($container-max-widths, md);
  }

  @include breakpoint(lg) {
    max-width: map-get($container-max-widths, lg);
  }

  @include breakpoint(xl) {
    max-width: map-get($container-max-widths, xl);
  }

  @include breakpoint(xxl) {
    max-width: map-get($container-max-widths, xxl);
  }
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@mixin col($size) {
  flex: 0 0 calc(100% / 12 * #{$size});
  max-width: calc(100% / 12 * #{$size});
  padding-left: 15px;
  padding-right: 15px;
}
