// Button
$base-btn-padding: 12px;
$base-btn-radius: 4px;

// Spacing
$xs-spc: 4px;
$base-spc: 8px;

$base-border-radius: 8px;

// Line Height
$lh-base: 1.225rem;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
